[data-v-87dc9a6d]:root {
  --color-primary: #409eff;
  --font-size-primary: 14px;
}
.ml-menu-item[data-v-87dc9a6d] {
  height: 56px;
  line-height: 56px;
  text-align: center;
}
.ml-menu-item[data-v-87dc9a6d]:hover {
  background-color: #79bbff;
}
[data-v-af099a41]:root {
  --color-primary: #409eff;
  --font-size-primary: 14px;
}
.ml-sub-menu[data-v-af099a41] {
  position: relative;
}
.ml-sub-menu .title[data-v-af099a41] {
  position: relative;
  height: 56px;
  line-height: 56px;
  text-align: center;
}
.ml-sub-menu .title[data-v-af099a41]:hover {
  background-color: #79bbff;
}
.ml-sub-menu .title .icon[data-v-af099a41] {
  position: absolute;
  right: 15px;
}
.ml-sub-menu .sub-item[data-v-af099a41] {
  height: 100%;
  top: 0;
  width: 100%;
}
[data-v-841e5e46]:root {
  --color-primary: #409eff;
  --font-size-primary: 14px;
}
.ml-menu[data-v-841e5e46] {
  box-sizing: border-box;
  border-right: 1px #dcdfe6 solid;
  width: 210px;
  font-size: var(--font-size-primary);
}
.ml-menu[data-v-841e5e46]:hover {
  cursor: pointer;
}
:root {
  --color-primary: #409eff;
  --font-size-primary: 14px;
}
.ml-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
.ml-button:hover {
  color: var(--color-primary);
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}
.ml-button--primary {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}
.ml-button--primary:hover {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}
.ml-button--success {
  color: #fff;
  background-color: #67c23a;
  border-color: #67c23a;
}
.ml-button--success:hover {
  background: #85ce61;
  border-color: #85ce61;
  color: #fff;
}
.ml-button--info {
  color: #fff;
  background-color: #909399;
  border-color: #909399;
}
.ml-button--info:hover {
  background: #a6a9ad;
  border-color: #a6a9ad;
  color: #fff;
}
.ml-button--warning {
  color: #fff;
  background-color: #e6a23c;
  border-color: #e6a23c;
}
.ml-button--warning:hover {
  background: #ebb563;
  border-color: #ebb563;
  color: #fff;
}
.ml-button--text {
  border-color: transparent;
  color: #409eff;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
}
.ml-button--text:hover {
  color: #66b1ff;
  border-color: transparent;
  background-color: transparent;
}
